<div class="main">
    <div class="book-name"><%= book.title%></div>
    <hr class="featurette">
    <div class="main-info clearfix">
        <table class="table table-borderless">
            <tbody>
            <td>
                <div class="left-col">
                    <% if(book.is_popular===true){%>
                    <div class="popular"> Популярне</div>
                    <% }%>
                    <img src='<%= book.icon%>' class="cover">
                </div>
            </td>
            <td>
                <div class="info">
                    <div class="group">
                        <div class="name author">Автор</div>
                        <div class="inf author"><%= book.author%></div>
                    </div>
                    <div class="group">
                        <div class="name genre">Жанр</div>
                        <% if(book.genre){%>
                        <% book.genre.forEach(function(genre){%>
                        <div class="inf genre"><%= genre%></div>
                        <% }) }%>

                    </div>
                    <div class="group">
                        <div class="name status">Статус</div>
                        <% if(book.status ==="У процесі"){%>
                        <div class="inf status during"></div>
                        <% }else if(book.status ==="Заморожено"){%>
                        <div class="inf status frozen"></div>
                        <% }else{%>
                        <div class="inf status finished"></div>
                        <% }%>
                    </div>
                    <% if(book.cycle){%>
                    <div class="group">
                        <div class="name cycle">Цикл</div>
                        <div class="inf cycle"><%=book.cycle%></div>
                    </div>
                    <% }%>
                    <% if(book.minAge){%>
                    <div class="group">
                        <div class="name needed-age">Вікові обмеження</div>
                        <div class="inf needed-age"><%= book.minAge%></div>
                    </div>
                    <% }%>
                    <div class="group">
                        <div class="name book-price">Ціна</div>
                        <div class="inf book-price"><%= book.price%></div>
                    </div>
                    <!-- Download
                    <a href="assets/books/it-stephen-king.fb2" download>
                        <button class="btn btn-book ">fb2</button>
                    </a>
                    -->
                    <button class="btn btn-book" id="code">
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                        Ввести промокод
                    </button>
                    <button class="btn btn-book" id="buy" onclick="window.location.href='/order.html';">
                        <i class="fa fa-credit-card" aria-hidden="true" ></i>
                        Купити
                    </button>
                    <button class="btn btn-book" id="read">
                        <i class="fa fa-book" aria-hidden="true"></i>
                        Читати
                    </button>
                    <button class="btn btn-book" id="dowl">
                        <i class="fa fa-download" aria-hidden="true"></i>
                        Завантажити
                    </button>
                </div>
            </td>
            </tbody>
        </table>
    </div>
    <hr class="featurette">
    <div class="group">
        <nav class="nav nav-tabs">
            <div class="nav-item nav-link active" data-toggle="tab" href="#description">
                <i class="fa fa-file-text"></i> Опис
            </div>
            <% if(book.authorNote){%>
            <div class="nav-item nav-link" data-toggle="tab" href="#additional">
                <i class="fa fa-ellipsis-v"></i> Додатково
            </div>
            <% }%>
        </nav>
        <div class="tab-content ">
            <div class="tab-pane active" id="description">
                <div class="inform content"><%= book.description%></div>
            </div>
            <div class="tab-pane" id="additional">
                <% if(book.authorNote){%>
                <div class="group">
                    <div class="name author-note">Примітка автора</div>
                    <div class="inform author-note">
                        <%= book.authorNote%>
                    </div>
                </div>
                <% }%>
            </div>
        </div>

        <!-- Chapters
        <hr class="featurette">
        <div class="group">
            <div class="name table-cont">Зміст</div>

        </div>
        -->
    </div>
</div><!-- /.main -->